@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {

    font-family: "Open Sans", sans-serif;

}

body {

    background-color: #1a1a1a;
    color: white;

}

main div {

    margin: 10px;
    background-color: #242424;
    color: rgb(255, 255, 255);
    border-radius: 16px;
    padding: 0px;

}

main div h2 {

    padding: 0px;
    padding-top: 24px;
    padding-left: 64px;
    

}

main div p {

    padding: 16px;

}

main div:nth-child(even) {

    background-color: #313131;

}



.hero { /* hero class*/

    background-color: #3C3E3C;
    padding: 24px 32px;
    



}



.hero p{ /* hero class, only p */

    color: #ffffff;
    margin: 36px auto;
    text-align: center;

}

.hero h1 { /* hero class, only h1 */

    color: #ff6600;
    margin: 0;
    text-align: center;

}

.hero a, .hero button { /* hero class, buttons and links */

    color: #f5cb5c;
    background-color: #4b4c4b;
    border: 2px solid #F5CB5C;
    text-decoration: none;
    padding: 12px 8px;
    font-weight: bold;
    border-radius: 10px;


}

nav {

    display: flex;
    justify-content: flex-end;
    padding: 1% 0;
    background-color: #4b4c4b;
    border-radius: 16px;
    margin: 10px 0;
    

}

nav a {

    margin-inline: 1%;
    color: #F5CB5C;
    padding: 1.5% 1.5%;
    border-radius: 10px;
    font-weight: bold;

}

nav a:hover {

    color: #ff6600;
    text-decoration: underline wavy;
    transition: 400ms;
    background-color: #3C3E3C;


}